h1,
h2 {
  font-family: Lato;
}

body {
  background-color: beige;
}

canvas {
  background-color: transparent;
}

.rect {
  width: 512px;
  height: 684px;
  box-sizing: border-box;
}

#output {
  border: 1px solid burlywood;
  background: white;
  color: grey;
  width: 1024px;
  height: 512px;
  overflow-y: scroll;
}
